body {
  background: #222;
  color: #fff;
  font-family: monospace;
  text-align: center;
}

.hp-bar {
  background: #444;
  width: 200px;
  height: 20px;
  margin: 5px auto;
  border: 2px solid #fff;
}

.hp-fill {
  background: #4caf50;
  height: 100%;
  width: 100%;
  transition: width 0.3s;
}

#menu button {
  margin: 10px;
  padding: 10px 20px;
  background: #666;
  color: white;
  border: none;
  cursor: pointer;
}

#menu button:hover {
  background: #888;
}

.queueBtn {
  display: none;
  margin-top: 2%;
  background-color: whitesmoke;
  width: 25%;
  padding: 12px 24px;
  font-size: 20px;
  border: 2px solid #000;
  border-radius: 10px;

}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background: #1e1e1e;
  color: white;
  font-family: sans-serif;
}

.nav-logo {
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #00bfff;
}
